[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-coffee-script"]
        path = bundle/vim-coffee-script
        url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-makegreen"]
        path = bundle/vim-makegreen
        url = http://github.com/reinh/vim-makegreen.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/vim-markdown-folding"]
	path = bundle/vim-markdown-folding
	url = git://github.com/nelstrom/vim-markdown-folding.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git 
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/zencoding-vim"]
    path = bundle/zencoding-vim
    url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/tcomment_vim"]
        path = bundle/tcomment_vim
        url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/ack.vim"]
    path = bundleack.vim
    url  = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-endwise"]
    path = bundle/vim-endwise
    url  = https://github.com/tpope/vim-endwise.git

[submodule "bundle/vim-exchange"]
	path = bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "bundle/--force"]
	path = bundle/--force
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "bundle/funcoo.vim"]
	path = bundle/funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "bundle/bundle/vim-neatstatus"]
	path = bundle/bundle/vim-neatstatus
	url = git://github.com/maciakl/vim-neatstatus.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-neatstatus"]
	path = bundle/vim-neatstatus
	url = https://github.com/maciakl/vim-neatstatus.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/akc"]
	path = bundle/akc
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/delimitMate"]
  path = bundle/delimitMate
  url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/dash"]
	path = bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
