[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/msanders-snipmate.vim"]
	path = bundle/msanders-snipmate.vim 
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tpope-vim-rails"]
	path = bundle/tpope-vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/tpope-vim-surround"]
        path = bundle/tpope-vim-surround 
        url = http://github.com/tpope/vim-surround.git
[submodule "bundle/tsaleh-vim-tcomment"]
        path = bundle/tsaleh-vim-tcomment 
        url = http://github.com/tsaleh/vim-tcomment.git 
[submodule "bundle/vim-coffee-script"]
        path = bundle/vim-coffee-script
        url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-makegreen"]
        path = bundle/vim-makegreen
        url = http://github.com/reinh/vim-makegreen.git
