[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = http://github.com/tpope/vim-ragtag.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tpope-vim-rails"]
	path = bundle/tpope-vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/tpope-vim-surround"]
        path = bundle/tpope-vim-surround 
        url = http://github.com/tpope/vim-surround.git
[submodule "bundle/tsaleh-vim-tcomment"]
        path = bundle/tsaleh-vim-tcomment 
        url = http://github.com/tsaleh/vim-tcomment.git 
[submodule "bundle/vim-coffee-script"]
        path = bundle/vim-coffee-script
        url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-makegreen"]
        path = bundle/vim-makegreen
        url = http://github.com/reinh/vim-makegreen.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git 
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-markdown-folding"]
	path = bundle/vim-markdown-folding
	url = git://github.com/nelstrom/vim-markdown-folding.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git 
